* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FFFFFF;
    color: #090429;
    font-family: Century Gothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-right: 10px dashed #f7cb7e;
    border-left: 10px dashed #f7cb7e;
    width: 30%;
    min-width: 80%;
}

h1{
    font-size: 350%;
    background-color: #f7cb7e;
    border: 10px dashed #FFFFFF;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

div{
    background-color: #FFFFFF;
    border: 10px dashed #f7cb7e;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;

}

a{
    line-height: 500%;
    background-color: #FFFFFF;
    color: #090429;
    font-size: 200%;
    border: 3px solid #f7cb7e;
    padding: 2%;
}

a:hover
{
    background-color: #f7cb7e;
    border: 10px dashed #FFFFFF;
    padding: 3%;
}

table{
    border-left: 5px solid #f0f0f0;
    border-right: 5px solid #f0f0f0;
    border-bottom: 5px solid #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5%;
    text-align: left;
    width:50%;
    height: 20%;
}


th{
    width:20%;
}
td{
    padding: 3%;
}

.comments{
    font-size: 90%;
}

.comment{
    border: 3px dashed #f0f0f0;
}

.home_page{
    margin-top: 5%;
}

.photos{
    font-size: 70%;
    border: 2px solid #f0f0f0;
}

.photos:hover{
    background-color: #f7cb7e;
    border: 3px dashed #FFFFFF;
    padding: 2%;
}

.posts{
    width: 70%;
}

h2{
    font-size: 120%;
}

input[type=number]{
    margin-top: 1%;
    margin-bottom: 2%;
    width: 20em;
    height: 2.5em;
    padding: 1%;
    border: 2px solid #e0e0e0;
    font-family: Century Gothic, sans-serif;
    font-size: 100%;
}

.home_link{
    line-height: 0;
    background-color: #f7cb7e;
    color: #090429;
    font-size: 100%;
    border: 0;
    padding: 0;
}
