<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='styles/home_page_css.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
{% set users = username -%}
{% set image = cover -%}
<h1><a href = "{{url_for ('hello_world')}}" class="home_link">API JSON</a></h1>

{% for album in albums %}
<table>
    <tbody>
    <tr>
        <th>username</th>
        <td>{{users[album['userId']]}}</td>
    </tr>
    <tr>
        <th>title</th>
        <td>{{album['title']}}</td>
    </tr>
    <tr>
        <th>cover</th>
        <td>
            <p>
                <img src= {{cover[album['id']]}}>
                <br>
                <a class="photos" href="{{url_for ('photos', username = users[album['userId']])}}">open album</a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
{% endfor %}

</body>
</html>
