<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{{ url_for('static', filename='styles/photo_gallery.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
  <meta charset="UTF-8">
	<script src="{{ url_for('static', filename='js/photos.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Photos - {{user}}</title>
</head>
{% set ID = index -%}
{% set photos = photo %}

<body>
<h1><a href = "{{url_for ('hello_world')}}" class="home_link" style="text-decoration: none;">API JSON</a></h1>
    <div>
		{% for i in range( (index - 1) * 50 , index * 50 ) %}
            <div class="container">
                <img src={{photos[i]['thumbnailUrl']}} onclick="showImage('{{photos[i]['url']}}')">
                <span class = "text" onclick="showImage('{{photos[i]['url']}}')">{{photos[i]['title']}}</span>
            </div>

		{% endfor %}
    </div>

	<div id="expanded_img" class="single_image_display">
        <span class="close" onclick="closeImage()">&times;</span>
        <img class="image_content" id="image">
    </div>
</body>
</html>
