<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./home_page_css.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<h1>API JSON</h1>

<table>
    <tbody>
    <tr>
        <th>username</th>
        <td>Elwyn.Skiles</td>
    </tr>
    <tr>
        <th>title</th>
        <td>tenetur quos ea unde est enim corrupti qui</td>
    </tr>
    <tr>
        <th>cover</th>
        <td><img src="https://via.placeholder.com/150/3e7f7b"></td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <th>username</th>
        <td>Bret</td>
    </tr>
    <tr>
        <th>title</th>
        <td>quibusdam autem aliquid et et quia</td>
    </tr>
    <tr>
        <th>cover</th>
        <td><img src="https://via.placeholder.com/150/afc5c2"></td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <th>username</th>
        <td>Bret</td>
    </tr>
    <tr>
        <th>title</th>
        <td>quidem molestiae enim</td>
    </tr>
    <tr>
        <th>cover</th>
        <td><img src="https://via.placeholder.com/150/92c952"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
