<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <link href="{{ url_for('static', filename='styles/home_page_css.css') }}" rel="stylesheet">
</head>
<body>
{% set users = username -%}
{% set comments = comment -%}
<h1><a href = "{{url_for ('hello_world')}}" class="home_link">API JSON</a></h1>

<h2>Podaj liczbę znaków</h2>
<input type='number' min='1' id="searchInput">
{% for post in posts %}
<table id = "table">
  <tbody>
  <tr>
    <th>username</th>
    <td>{{users[post['userId']]}}</td>
  </tr>
  <tr>
    <th>title</th>
    <td>{{post['title']}}</td>
  </tr>
  <tr>
    <th></th>
    <td class = "post_body">{{post['body']}}</td>
  </tr>

  {% for i in range(post['id'] - 1, post['id'] + 4) %}
  <tr>
    <th>comment_title</th>
    <td>{{comment[i]['body']}}</td>
  </tr>
     {% endfor %}

  </tbody>
</table>
{% endfor %}
<p id = "message" style="visibility: hidden"> TemporaryMessage </p>
<script src="{{ url_for('static', filename='js/search_script.js') }}"></script>
</body>
</html>
