<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <link href="{{ url_for('static', filename='styles/home_page_css.css') }}" rel="stylesheet">
</head>
<body>
{% set users = username -%}
{% set comments = comment -%}
<h1>API JSON</h1>

{% for post in posts %}
<table>
  <tbody>
  <tr>
    <th>username</th>
    <td>{{users[post['userId']]}}</td>
  </tr>
  <tr>
    <th>title</th>
    <td>{{post['title']}}</td>
  </tr>
  <tr>
    <td>{{post['body']}}</td>
  </tr>
  <tr>
    <th>comment_title</th>
    {% for comment in comments %}
    <td>{{comment}}</td>
    {% endfor %}
  </tr>
  </tbody>
</table>
{% endfor %}

</body>
</html>
