<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <link href="{{ url_for('static', filename='styles/home_page_css.css') }}" rel="stylesheet">
</head>
<body>
{% set users = username -%}
<h1 class="posts">API JSON</h1>

<h2>Podaj liczbę znaków</h2>
<input type='number' min='1'>

{% for post in posts %}
<table class="posts">
  <tbody>
  <tr>
    <th>username</th>
    <td>{{users[post['userId']]}}</td>
  </tr>
  <tr>
    <th>title</th>
    <td>{{post['title']}}</td>
  </tr>
  <tr>
    <th></th>
    <td>{{post['body']}}</td>
  </tr>
  <tr>
    <th>comment_ title</th>
    <td>comment_body</td>
  </tr>
  </tbody>
</table>
{% endfor %}

</body>
</html>
